.dissecting, .another-perspective, .note {
  color: #222; }
  .dissecting h2, .another-perspective h2, .note h2 {
    color: #222; }
  .dissecting code, .another-perspective code, .note code {
    background-color: #f5f5f5;
    color: #222; }

.dissecting {
  border: 2px solid black;
  border-radius: 12px;
  margin: 15px;
  padding: 15px;
  background: #defffd; }

.another-perspective {
  border: 2px dotted black;
  margin: 15px;
  padding: 15px;
  background: #daffd9; }

.note {
  border: 2px dotted black;
  background: #ededed;
  margin: 15px;
  padding: 15px; }
